<%= form_for(telegram) do |f| %>
<% @telegram=telegram %>
  <% if @telegram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@telegram.errors.count, "error") %> prohibited this telegram from being saved:</h2>

      <ul>
      <% @telegram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <%= f.label :poruka %><br>
    <%= f.text_area :poruka, :class => 'ckeditor' %>
  </div>
  </div>
   <div class="row">
     <div class="col-lg-12">
    <%= f.label :korigirao %><br>
    <%= f.text_field :korigirao %>
  </div>
  <%= f.hidden_field :korigirano, :value => Time.now %>
   </div>
  <div class="actions">
   <br> <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
  Napravi korekciju
<% end %>
  </div>
<% end %>
</div>