<%= form_for(@telegram) do |f| %>
  <% if @telegram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@telegram.errors.count, "error") %> prohibited this telegram from being saved:</h2>

      <ul>
      <% @telegram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :salje %><br>
    <%= f.text_field :salje %>
  </div>
  <div class="field">
    <%= f.label :prima %><br>
    <%= f.text_field :prima %>
  </div>
  <div class="field">
    
    <%= f.label :poruka %><br>
    <%= f.text_area :poruka, :class => 'ckeditor' %>
  </div>
  <div class="field">
    <%= f.label :brojBrzojava %><br>
    <%= f.text_field :brojBrzojava %>
  </div>
  <div class="field">
    <%= f.label :vanjskiBroj %><br>
    <%= f.text_field :vanjskiBroj %>
  </div>
  <div class="field">
    <%= f.label :sastavio %><br>
    <%= f.text_field :sastavio %>
  </div>
   <div class="field">
    <%= f.label :suglasnost %><br>
    <%= f.text_field :suglasnost %>
  </div>
  <div class="field">
    <%= f.label :storno %><br>
    <%= f.text_field :storno %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
