<%= form_for :telegram, url: {action: "odbijeno", params: {id: @telegram.id}} do |f| %>

<div class="container">
     <div class="row">
     <div class="col-lg-12">
    Razlog: 
    <textarea rows="4" cols="50" name="razlog">
zbog</textarea>
  </div>

  

   </div>
   <div class="actions">
   <br> <%= button_tag(type: 'submit', class: "btn btn-warning") do %>
  NISMO SUGLASNI
<% end %>
  </div>

</div>
<% end %>
