<%= form_for :telegram, url: {action: "posaljina", params: {id: 164}} do |f| %>

<div class="container">
     <div class="row">
         
<div class="col-lg-12 ui-front">
 Prima: 
    <input type="text" name="za" id="tbCountries6" />

  </div>
  <div class="col-lg-12">
    <br><%= f.label :poruka %><br>
    <%= f.text_area :poruka, :class => 'ckeditor' %>
  </div>

  

   </div>
   <div class="actions">
   <br> <%= button_tag(type: 'submit', class: "btn btn-warning") do %>
  POŠALJI BRZOJAV
<% end %>
<script>
     $(document).on('ready page:load', function () {
        BindControls();
    });

    function BindControls() {
        var Countries = ['dcpula@ho-pisup.com', 
            'Borka.Kos@hops.hr', 
            'mczagreb@nesto.nesto'];

        $('#tbCountries6').autocomplete({
            source: Countries,
            minLength: 0,
            scroll: true
        }).focus(function() {
            $(this).autocomplete("search", "");
        });
    }
    </script>
  </div>

</div>
<% end %>

