<%= form_for(telegram) do |f| %>
<% @telegram=telegram %>
  <% if @telegram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@telegram.errors.count, "error") %> prohibited this telegram from being saved:</h2>

      <ul>
      <% @telegram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
     <div class="row">
     <div class="col-lg-12">
    <%= f.label :stornirao %><br>
    <%= f.text_field :stornirao %>
  </div>
  <%= f.hidden_field :stornirano, :value => Time.now %>
  <%= f.hidden_field :storno, :value => 1 %>
   </div>
  <div class="actions">
   <br> <%= button_tag(type: 'submit', class: "btn btn-warning") do %>
  STORNO
<% end %>
  </div>
<% end %>
</div>