<%= form_for(telegram) do |f| %>
<% @telegram=telegram %>
  <% if @telegram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@telegram.errors.count, "error") %> prohibited this telegram from being saved:</h2>

      <ul>
      <% @telegram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <%= f.label :brojSuglasnosti %><br>
    
    <%= f.text_field :brojSuglasnosti %>
  </div>
  </div>
   
  <div class="actions">
   <br> <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
  Poveži brzojav
<% end %>
  </div>
<% end %>
</div>