<div id="page-wrapper">

 
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
     <% flash.each do |key, value| %>
        <div class="alert alert-success"><%= notice %>
      <% end %>
</div>
                      
                      <%= will_paginate %> 
                     <% @telegrams.each do |telegram| %>
                    
                        <div class="panel panel-green">
                                <div class="panel-heading text-center">
                                    <h3 class="panel-title"><%= best_in_place telegram, :primaNaslov, :as => :input %></h3>
                                </div>
                                <div class="panel-body">
                                  <div class="row">
                                   &nbsp<strong><%= telegram.created_at.strftime("%d.%m.%Y.") %></strong> u <%= (telegram.created_at+2.hours).strftime("%k:%M") %>
                                   <% if telegram.suglasnost=="1" %><span class="tab1"></span>
                                   <span class="label label-primary" data-toggle="tooltip" data-placement="top" title="Veza brzojav broj <%= telegram.brojSuglasnosti %>">Suglasnost izdana ili nje potrebna</span>
                                   <% end %>
                                   <% if telegram.odbijeno=="1" %>
                                   <span class="tab1"></span>
                                   <span class="label label-danger">Odbijena suglasnost</span>
                                   <% end %>
                                    <% if telegram.storno=="1" %>
                                   <span class="tab1"></span>
                                   <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="Stornirano <%= telegram.stornirao%> 
                                   <%= telegram.stornirano.strftime("%d.%m.%Y.") %> u <%= telegram.stornirano.strftime("%k:%M") %>">STORNO!!!</span>
                                   <% end %>
                                   <% if telegram.korigirano!=nil %>
                                   <span class="tab1"></span>
                                   <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="Korekcija <%= telegram.korigirao%> 
                                   <%= telegram.korigirano.strftime("%d.%m.%Y.") %> u <%= telegram.korigirano.strftime("%k:%M") %>">Korigirano</span>
                                   <% end %>
                                    </div>
                                  <div class="row">
                                  <div class="col-lg-1 text-center">
                                   <h3><strong><%= telegram.brojBrzojava  %></strong></h3> <hr style="border-top: 3px double #8c8b8b;"><%= best_in_place telegram, :vanjskiBroj, :as => :input %>
                                  
                                 
                                  <br><br>
                                  <%= link_to "<button class=\"btn btn-xs btn-warning\">Veza</button>".html_safe,  '#', 'data-target' => "#myModal7_#{telegram.id}", 'data-toggle' => 'modal'  %><br>
                                          <div class="modal fade text-left" id='<%= "myModal7_#{telegram.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <%= render 'telegrams/form7', telegram: telegram %>
                                                </div>
                                                
                                              </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                          </div><!-- /.modal -->
                                 
                                  
                                  
                                  
                                  
                                  </div>
                                  <div class="col-lg-9 poruka"><br>
                                 
                                    <%= telegram.poruka.html_safe %>
                                    <!--<%= link_to 'Destroy', telegram, method: :delete, data: { confirm: 'Are you sure?' } %>-->
                                </div>
                                <div class="col-lg-2"><% if telegram.suglasnost=="1" or telegram.odbijeno=="1" or telegram.storno=="1"%>

                                      <% else %>
                                      <% if telegram.salje=="Borka.Kos@hops.hr" %>
                                      <%= button_to "Pošalji suglasnost", {  :controller => "telegrams", :action => "suglasnost",  :id => telegram.id}, {:disabled => false, class: 'btn btn-xs btn-success'} %><br>
                                      <% else %>
                                      <%= button_to "Pošalji suglasnost", {  :controller => "telegrams", :action => "suglasnostopca",  :id => telegram.id}, {:disabled => false, class: 'btn btn-xs btn-success'} %><br>
                                      <% end %>
                                      <% end %>
                                      <% if telegram.storno!="1" && telegram.odbijeno!="1" %>
                                      <%= link_to "<button class=\"btn btn-xs btn-warning\">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspStorno&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>".html_safe,  '#', 'data-target' => "#myModal_#{telegram.id}", 'data-toggle' => 'modal'  %><br>
                                          <div class="modal fade" id='<%= "myModal_#{telegram.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <%= render 'telegrams/form3', telegram: telegram %>
                                                </div>
                                                
                                              </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                          </div><!-- /.modal -->
                                            <% end %>
                                     
                                      <% if telegram.suglasnost=="1" or telegram.storno=="1"%>
                                      
                                      <% else %><br>
                                      <% if telegram.odbijeno!="1" %>
                                      <%= link_to "<button class=\"btn btn-xs btn-danger\">&nbsp&nbspNismo suglasni&nbsp&nbsp</button>".html_safe,  '#', 'data-target' => "#myModal4_#{telegram.id}", 'data-toggle' => 'modal'  %><br>
                                          <div class="modal fade" id='<%= "myModal4_#{telegram.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <%= render 'telegrams/form4', telegram: telegram %>
                                                </div>
                                                
                                              </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                          </div><!-- /.modal -->
                                          <% end %>
                                      <% end %><br>
                                      <% if telegram.storno!="1" && telegram.odbijeno!="1" %>
                                       <%= link_to "<button class=\"btn btn-xs btn-primary\">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspKorekcija&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>".html_safe,  '#', 'data-target' => "#myModal2_#{telegram.id}", 'data-toggle' => 'modal'  %>
          <div class="modal fade" id='<%= "myModal2_#{telegram.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                  <%= render 'telegrams/form2', telegram: telegram %>
                </div>
                
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          <% end %><br>
          
          <br><%= link_to "<button class=\"btn btn-xs btn-primary\">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPošalji brzojav&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>".html_safe,  '#', 'data-target' => "#myModal5_#{telegram.id}", 'data-toggle' => 'modal'  %>
          <div class="modal fade" id='<%= "myModal5_#{telegram.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body"> <% @telegram=telegram %>
                  <%= render 'telegrams/form5', telegram: @telegram %>
                </div>
                
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          
                                      </div>
                                      
                                </div>
                                </div>
                                <div class="panel-footer">
                                   
                                  <div class="row">
                                    <div class="col-lg-9">
                                      <strong>Poslao:</strong> <%= best_in_place telegram, :salje, :as => :input %><br>
                                      <strong>Primio:</strong> <%= best_in_place telegram, :prima, :as => :input %>
                                    </div>
                                    <div class="col-lg-2">
                                      <strong>Sastavio:</strong> <%= best_in_place telegram, :sastavio, :as => :input %>
                                    </div>
                                    </div>
                                  </div>
                            </div>
                    
                     <% end %>
                    <%= will_paginate %> 
                  </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
    
     <div class="modal fade" id='mmm' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                  
               <%= form_for :telegram2, url: {action: "posaljina", params: {id: 146, ozn: "n"}} do |f| %>

<div class="container">
     <div class="row">
         
<div class="col-lg-12 ui-front">
 Prima: <br>
      <input type="text" name="za" id="tbCountries2" placeholder="Organizacija" />
       <input type="text" name="osoba"placeholder="Osoba" />

  </div>
  <div class="col-lg-12">
    <br><%= f.label :poruka %><br>
    <%= f.text_area :poruka, :class => 'ckeditor' %>
  </div>

  

   </div>
   <div class="actions">
   <br> <%= button_tag(type: 'submit', class: "btn btn-warning") do %>
  POŠALJI BRZOJAV
<% end %>

  </div>

</div>
<% end %>
<script>
     $(document).on('ready page:load', function () {
        BindControls2();
    });

    function BindControls2() {
        var Countries2 = ['DC ELEKTROPRIMORJE', 'DC ELEKTROLIKA','dcpula@ho-pisup.com', 
            'Borka.Kos@hops.hr', 
            'mczagreb@nesto.nesto'];

        $('#tbCountries2').autocomplete({
            source: Countries2,
            minLength: 0,
            scroll: true
        }).focus(function() {
            $(this).autocomplete("search", "");
        });
    }
    </script>

                </div>
                
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          
          
          <div class="modal fade" id='primi' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                  
               <%= form_for :telegram8, url: {action: "primi"} do |f|  %>

<div class="container">
     <div class="row">
         
<div class="col-lg-12 ui-front">
 Šalje: <br>
      <input type="text" name="organizacija" id="tbCountries8" placeholder="Organizacija" />
       <input type="text" name="osoba"placeholder="Osoba" />

  </div>
  <div class="col-lg-12">
    <br><%= f.label :poruka %><br>
    <%= f.text_area :poruka, :class => 'ckeditor' %>
  </div>

  

   </div>
   <div class="actions">
   <br> <%= button_tag(type: 'submit', class: "btn btn-warning") do %>
  PRIMI BRZOJAV
<% end %>
<script>
     $(document).on('ready page:load', function () {
        BindControls2();
    });

    function BindControls2() {
        var Countries8 = ['DC ELEKTROPRIMORJE', 'DC ELEKTROLIKA','dcpula@ho-pisup.com', 
            'Borka.Kos@hops.hr', 
            'mczagreb@nesto.nesto'];

        $('#tbCountries8').autocomplete({
            source: Countries8,
            minLength: 0,
            scroll: true
        }).focus(function() {
            $(this).autocomplete("search", "");
        });
    }
    </script>
  </div>

</div>
<% end %>
                </div>
                
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          
          
          
          
          
          
 <div class="modal fade" id='sear' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                  
<div class="container">
     <div class="row">
         
<div class="col-lg-12 ui-front">

                         <h3>Pretraži brzojave </h3>
                   
<br>
<%= search_form_for @q do |f| %>
  
  <div class="row">
  <div class="col-lg-12">
    
    <%= f.text_field :brojBrzojava_eq, :autofocus => true, :placeholder => "Broj brzojava" %>
  </div>
  </div><br>
  <div class="row">
    <div class="col-lg-12">
   
    <%= f.text_area :poruka_cont , :placeholder => "Sadržaj brzojava"%>
  </div>
  </div>
<br>

<div class="row">
    <div class="input-daterange ">

              <%= f.text_field :created_at_gteq, class: "form-control dateinput", placeholder: "Od dana" %>
            
            </div><br><br></div>
          
            <div class="row ">
    <div class="input-daterange ">
            
              <%= f.text_field :created_at_lteq, class: "form-control dateinput", placeholder: "Do dana" %>
            <br>
          </div>
           </div>
          
  </div>
  <br>
  <div class="actions">
    <%=  f.submit  "Traži", class: 'btn btn-success' %>
  </div>
<% end %>
</div>
</div>
</div>


                </div>
                
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
