<div id="page-wrapper">

 
            <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
<h1>New Telegram</h1>

<%= render 'form' %>

<%= link_to 'Back', telegrams_path %>
</div>
</div>
</div>
</div>