<div id="page-wrapper">

 
            <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
<h4><%= @telegrams.first.created_at.strftime("%d.%m.%Y.") %> - <%= hrv(@telegrams.first.created_at.strftime("%A")) %></h4>
<br><% @telegrams.each do |telegram| %>
<table width="100%" style="page-break-inside: avoid;">
<tbody>
<tr  style="border-left: 2px solid black; border-right: 2px solid black;">
<td style="border-top: 2px solid black;"></td>

<td style="border-left: 1px dashed black; background-color: #C8C8C8 !important; text-align: center; vertical-align: middle; border-top: 2px solid black; padding: 15px; font-size: 18px;" colspan="5"><%= telegram.primaNaslov %></td>

</tr>
<tr  style="border-left: 2px solid black; border-right: 2px solid black;">
<td width="10%"><span style="font-size: 16px;padding-left: 15px; "><strong><%= telegram.brojBrzojava %></strong></span> <% if telegram.vanjskiBroj=="x" or telegram.vanjskiBroj==nil %><% else %> <hr> <span style="font-size: 11px;padding-left: 15px; "><%= telegram.vanjskiBroj %></span><% end %><br><br><%= telegram.created_at.strftime("%d.%m.%Y.") %> <br><%= (telegram.created_at+2.hours).strftime("%k:%M") %></td>
<td style="padding-left: 15px; border-left: 1px dashed black;border-bottom: 1px dashed black;border-top: 1px dashed black;"  colspan="5" rowspan="2"><%= telegram.poruka.html_safe %></td>
</tr>
<tr style="border-left: 2px solid black; border-right: 2px solid black;">
<td>&nbsp;</td>
</tr>
<tr style="border-left: 2px solid black; border-right: 2px solid black;">
<td style="border-bottom: 2px solid black;">&nbsp;</td>
<td style="padding-top: 10px;border-bottom: 2px solid black; border-left: 1px dashed black;padding-left: 15px;" colspan="2">
<p>Poslao: <%= telegram.salje %></p>
<p>Primio: <%= telegram.prima %></p>
</td>
<td style="border-bottom: 2px solid black;">&nbsp;</td>
<td style="border-bottom: 2px solid black; text-align: right; padding-right: 30px;" colspan="2">Sastavio<br><%= telegram.sastavio %></td>
</tr>
<tr><td><br><br></td><td></td><td></td><td></td></tr>
</tbody>
</table>



<% end %>

</div>
</div>
</div>
</div>