

<div class="container">
     <div class="row">
         
<div class="col-lg-12 ui-front">

                         <h3>Pretraži brzojave </h3>
                   
<br>
<%= search_form_for @q do |f| %>
  
  <div class="row">
  <div class="field col-md-3">
    <%= f.label :brojBrzojava, "Barkod" %>
    <%= f.text_field :brojBrzojava_eq, :autofocus => true %>
  </div>
    <div class="field col-md-3">
    <%= f.label :poruka, "Barkod" %>
    <%= f.text_field :poruka_cont %>
  </div>

  </div>
  <br>
  <div class="actions">
    <%=  f.submit  "Traži", class: 'btn btn-success' %>
  </div>
<% end %>
</div>
</div>
</div>
