<div id="page-wrapper">

 
            <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">

<p id="notice"><%= notice %></p>

<p>
  <strong>Salje:</strong>
  <%= @telegram.salje %>
</p>

<p>
  <strong>Prima:</strong>
  <%= @telegram.prima %>
</p>

<p>
  <strong>Poruka:</strong>
  <%=  @telegram.poruka.html_safe %>
</p>

<p>
  <strong>Brojbrzojava:</strong>
  <%= @telegram.brojBrzojava    %>
</p>

<p>
  <strong>Vanjskibroj:</strong>
  <%= @telegram.vanjskiBroj  %>
</p>

<p>
  <strong>Sastavio:</strong>
  <%= @telegram.sastavio %>
</p>
<p>
  <strong>sugl:</strong>
  <%= @telegram.suglasnost %>
</p>
<% if @telegram.suglasnost=="1" %>
<%= button_to "Suglasnost je izdana ili nije potrebna", {  :controller => "telegrams", :action => "suglasnost",  :id => @telegram.id}, {:disabled => true, class: 'btn btn-success'} %>
<% else %>
<%= button_to "Pošalji suglasnost", {  :controller => "telegrams", :action => "suglasnost",  :id => @telegram.id}, {:disabled => false, class: 'btn btn-success'} %>
<% end %>
<br>
<%= link_to 'Edit', edit_telegram_path(@telegram) %> |
<%= link_to 'Back', telegrams_path %>
</div>
</div>
</div>
</div>