$(".telegramsTable").replaceWith("<%=j render :partial=> 'telegrams/update', :locals => {telegrams: @telegrams }%>");
$("input[type=text]").val("");
$("modal-window").modal();
$('#myModal').modal('hide');
$('body').removeClass('modal-open');
$('.modal-backdrop').remove();