<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="login-form">
     <h1>Prijava u knjigu brzojava</h1>
     <div class="form-group ">
      
    <%= f.text_field :username, placeholder: "Korisničko ime", class: "form-control", id: "UserName" %>
     
       <i class="fa fa-user"></i>
     </div>
     <div class="form-group log-status">
       <%= f.password_field :password, autocomplete: "off", placeholder: "Šifra", class: "form-control", id: "Passwod" %>

       <i class="fa fa-lock"></i>
     </div>
      <span class="alert">Invalid Credentials</span>
      <!--<a class="link" href="#">Lost your password?</a>-->
      <%= f.submit "Prijava" , class: "log-btn" %>
     
     
    
   </div>


<% end %>
 <script>
  $(document).on('ready page:load', function () {
        $('.log-btn').click(function(){
           setTimeout("ad" 3000 );
            $('.log-status').addClass('wrong-entry');
           
           $('.alert').fadeIn(500);
           setTimeout( "$('.alert').fadeOut(1500);",3000 );
        });
        $('.form-control').keypress(function(){
            $('.log-status').removeClass('wrong-entry');
        });

    });

</script>












