<h3>SUGLASNOST</h3>

<p>
 <strong>Brzojav broj <%= @broj_brzojava %></strong>
</p>
<p>

 <strong>Suglasni smo </strong>s vašim brzojavom.
</p>
Pozdrav <%= @ime %> <%= @prezime %>
<hr style="border: 1px dashed #3c763d;">
<p>
    <%= @sadrzaj.html_safe %>
</p>
