<h3>SUGLASNOST</h3>

<p>
 <strong>Brzojav broj <%= @broj_brzojava %></strong>
</p>
<p>
 <% if @vanjski_broj=="x" %>
 <strong>Suglasni smo </strong>s vašim brzojavom.
 <% else %>
 <strong>Suglasni smo </strong>s vašim brzojavom broj <%= @vanjski_broj %>.
 <% end %>
</p>
Pozdrav <%= @ime %> <%= @prezime %>
<hr style="border: 1px dashed #3c763d;">
<p>
    <%= @sadrzaj.html_safe %>
</p>