    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=<%=telegrams_path%>>KNJIGA BRZOJAVA</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><% if current_user.present? %> <%= current_user.ime %> <%= current_user.prezime %><% end%><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profil</a>
                        </li>
                        
                        <li class="divider"></li>
                        <li>
                            <a href=<%=logout_path%>><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <%= link_to  '#', :id => 'mmfm', "data-toggle" => "modal", 'data-target' => '#mmm' do %>
                           <i class="fa fa-fw fa-pencil"></i> Pošalji brzojav
                       <% end %>
                       
                    </li>
                     <li>
                        <%= link_to  '#', :id => 'primilink', "data-toggle" => "modal", 'data-target' => '#primi' do %>
                           <i class="fa fa-fw fa-pencil"></i> Primi brzojav
                       <% end %>
                       
                    </li>
                    <li>
                        <%= link_to  '#', :id => 'mmfsm', "data-toggle" => "modal", 'data-target' => '#sear' do %>
                        <i class="fa fa-fw fa-search"></i> Pretraži brzojave
                       <% end %>
                    </li>
                    <li>
                        <%= link_to  printanje_path, method: :post  do %>
                        <i class="fa fa-fw fa-print"></i> Print
                       <% end %>
                    </li>
                  
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>