<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


    <!-- Custom CSS -->
    <link href="https://brzojav-straho.c9users.io/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://brzojav-straho.c9users.io/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <link href="https://brzojav-straho.c9users.io/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
     <%- if controller_name == 'sessions' %>
 <link href="https://brzojav-straho.c9users.io/css/login.css" rel="stylesheet">
<% end -%>
  <%= csrf_meta_tags %>
  
</head>
<body>
   <%- if controller_name != 'sessions' %>
  <%= render 'layouts/header' %>
<% end -%>
<%= yield %>

<%= render 'layouts/footer' %>
 
</body>
</html>
